{
  "extends": "airbnb",
  "globals": {
    "__DEV__": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "arrowFunctions": true,
    "classes": true,
    "modules": true,
    "jsx": true
  },
  "rules": {
    "strict": 0,
    "max-len": [1, 150],
    "react/jsx-quotes": 0,
    "jsx-quotes": [2, "prefer-double"],
    "quotes": [2, "double"],
    "semi": [2, "never"],
    "no-unexpected-multiline": 2,
    "jsx-a11y/img-redundant-alt": 0
  }
}
